.header-text, .info{
    text-align: center;
    margin-top: 20px;
}
.context{
   display: flex;
   justify-content: center;
}
.image{
    width:400px;
    border-radius: 50%;
}
.article-link{
    text-decoration: none;
    color: #eee;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
.articles-back{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button:hover{
    background: #016363;
}
.button{
    border: none;
    background: teal;
    border-radius: 10px;
}