
.navbar-brand{
    color: teal;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: center;
}
.navbar{
    background: teal;
}
.nav-item{
    color: white;
}