/* You can add global styles to this file, and also import other style files */
body{
    margin: 0 auto;
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}
.meta-info{
    color: grey;
    margin-top: -12px;
    font-size: 14px;
}